<a href="https://colab.research.google.com/github/bhavya-rema/E-Commerce-Recommendation/blob/main/purchase_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!jupyter notebook --NotebookApp.max_buffer_size=1000

Kaggle customer behaviour dataset by OpenCDP

In [ ]:
from IPython.display import display
import pandas as pd
from tqdm import tqdm
import numpy as np

In [ ]:
!gcloud config set project drchi-sample-project-2

Updated property [core/project].

In [ ]:
!gsutil cp gs://bhavya_recommendation_bucket/cust-behaviour.csv.zip ./

Copying gs://bhavya_recommendation_bucket/cust-behaviour.csv.zip...
/ [1 files][  1.6 GiB/  1.6 GiB]   51.3 MiB/s
Operation completed over 1 objects/1.6 GiB.

In [ ]:
!unzip cust-behaviour.csv.zip

Archive:  cust-behaviour.csv.zip
  inflating: 2019-Oct.csv

In [ ]:
!unzip 2019-Nov.csv.zip

Archive:  2019-Nov.csv.zip
  inflating: 2019-Nov.csv

In [ ]:
oct_df = pd.read_csv('2019-Oct.csv')
print(oct_df.shape)
display(oct_df.head())

(42448764, 9)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [ ]:
print(oct_df.isna().sum())

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [ ]:
oct_df.dropna(inplace=True)
print(oct_df.shape)
oct_df.drop_duplicates(inplace=True)
print(oct_df.shape)
print(oct_df['event_type'].value_counts())
print(oct_df['product_id'].nunique())

(26560620, 9)
(26534109, 9)
view        25200302
cart          784361
purchase      549446
Name: event_type, dtype: int64
60371

In [ ]:
nov_df = pd.read_csv('2019-Nov.csv')

In [ ]:
nov_df.dropna(inplace=True)
nov_df.drop_duplicates(inplace=True)
print(nov_df.shape)
print(nov_df['event_type'].value_counts())
print(nov_df['product_id'].nunique())   
display(nov_df.head())

(42018766, 9)
view        39314217
cart         2045298
purchase      659251
Name: event_type, dtype: int64
69773

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c

In [ ]:
behaviour_df = pd.concat([oct_df, nov_df])
print(behaviour_df.shape)
cb_df = behaviour_df[behaviour_df['product_id'].map(behaviour_df['product_id'].value_counts())>50]
print(cb_df['product_id'].nunique())   
print(cb_df.shape)
display(cb_df.head())

(68552875, 9)
42056
(68006415, 9)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880

In [ ]:
del oct_df
del nov_df
del behaviour_df

In [ ]:
cb_df.to_pickle('cust_behaviour.pkl')

In [ ]:
cb_df = pd.read_pickle('cust_behaviour.pkl')
print(cb_df['product_id'].nunique())   
print(cb_df.shape)

42056
(68006415, 9)

In [ ]:
max_value = cb_df['price'].max()
print(max_value)

2574.07

In [ ]:
bins = np.arange(0,max_value + 100, 10)
cb_df['bins'] = pd.cut(cb_df['price'], bins)

cb_df = cb_df.drop(columns = ['product_id','category_id'])
cb_df['product_id'] = cb_df.groupby(['category_code', 'brand', 'bins']).ngroup()
display(cb_df.head())

,event_time,event_type,category_code,brand,price,user_id,user_session,bins,product_id
1,2019-10-01 00:00:00 UTC,view,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,"(30.0, 40.0]",2735
3,2019-10-01 00:00:01 UTC,view,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,"(250.0, 260.0]",13815
4,2019-10-01 00:00:04 UTC,view,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,"(1080.0, 1090.0]",21204
5,2019-10-01 00:00:05 UTC,view,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9,"(900.0, 910.0]",13010
8,2019-10-01 00:00:10 UTC,view,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880,"(100.0, 110.0]",1066

In [ ]:
print(cb_df['product_id'].nunique())

27000

In [ ]:
cb_df = cb_df[cb_df.event_type != 'cart']

In [ ]:
cb_df.to_pickle('cust_behaviour_updated.pkl')

In [ ]:
co_view =[]
view_df = cb_df[cb_df.event_type == 'view']

view_df = view_df[['event_time', 'product_id', 'user_id', 'user_session']]

In [ ]:
view_df = view_df.sort_values(['event_time'], ascending=True).groupby(['user_id', 'user_session'])['product_id'].apply(list).reset_index(name ='product_id')
display(view_df.head())

,user_id,user_session,product_id
0,29515875,27452feb-1b63-41cc-ac67-030d56f6d448,"[22808, 22737, 22737, 22737]"
1,29515875,447d6309-4efe-4662-a64d-b19992fbfe1c,[22808]
2,29515875,643be73e-13d4-4021-ac44-ca14f0833cd9,[23974]
3,29515875,eb6882fb-ead2-47a5-aa86-d171a2c3b6ff,[23955]
4,31198833,b9f5a88d-09a1-4327-a129-5e4425952f71,"[21873, 21886, 21873, 21655, 21665, 21662, 216..."

In [ ]:
view_list = list(view_df['product_id'])
co_view = [ids for ids in view_list if len(ids)>1]
print(co_view[:10])

[[22808, 22737, 22737, 22737], [21873, 21886, 21873, 21655, 21665, 21662, 21648, 21666, 21419, 21877, 21872, 21871, 21873, 21890, 21666, 21670, 21864], [909, 908, 910, 908, 908, 935], [24771, 24539], [10616, 10616], [10711, 10711], [21852, 21852, 21852, 21852, 21852, 21403, 21864, 21864], [21852, 21852, 21852, 21865, 21865, 21865], [21852, 21856, 21866], [21852, 21852, 21852]]

In [ ]:
del view_df

In [ ]:
co_purchase = []
purchase_df = cb_df[cb_df.event_type == 'purchase']
purchase_df = purchase_df[['event_time', 'product_id', 'user_id', 'user_session']]
purchase_df = purchase_df.sort_values(['event_time'], ascending=True).groupby(['user_id', 'user_session'])['product_id'].apply(list).reset_index(name ='product_id')
display(purchase_df.head())

     user_id                          user_session product_id
0  225644257  3601c672-9a75-4627-b9be-576298187981    [11154]
1  253299396  e38b620b-6024-44e8-9db8-81a3a5b0e7e7     [4920]
2  256164170  56bbfca9-4dab-4d43-adf7-a47ea1ae8000     [2748]
3  296197073  068753bd-2ccb-4332-b15c-cdd77f83ce65    [10379]
4  299358698  b38e005b-0b9c-4bb4-aaa5-c88e7779d89c    [21858]

In [ ]:
purchase_list = list(purchase_df['product_id'])
co_purchase = [ids for ids in purchase_list if len(ids)>1]
print(co_purchase[:10])

[[21191, 21187], [21651, 21155], [21642, 21642], [21611, 21604], [21595, 21595], [15252, 15252], [10711, 10711], [21641, 22175], [23036, 21642], [21559, 21559]]

In [ ]:
sessions = list(cb_df.user_session.unique())
print(len(sessions))
sessions_df = cb_df.groupby(['user_id', 'user_session']).size().reset_index(name ='count')
sessions_df = sessions_df[sessions_df['count'] > 2]
display(sessions_df.head())
print(sessions_df.shape)
long_sessions= list(sessions_df['user_session'])

15878977

     user_id                          user_session  count
0   29515875  27452feb-1b63-41cc-ac67-030d56f6d448      4
4   31198833  b9f5a88d-09a1-4327-a129-5e4425952f71     17
10  62336140  393afdaf-b61d-4dda-87ff-b8467a4201fa      6
20  94566147  3c4da186-6885-4170-9346-a2c835c44694      8
21  94566147  4ed0c71e-c378-401d-8c01-3712ba0d232d      6

(6984332, 3)

In [ ]:
# print(purchase_df.shape)
# purchase_sessions = list(cb_df.loc[cb_df['event_type']=='purchase', 'user_session'])
# print(purchase_sessions[:10])
# print(len(purchase_sessions))

In [ ]:
p_sessions =list(purchase_df['user_session'])
print(p_sessions[:10])
print(len(p_sessions))

['3601c672-9a75-4627-b9be-576298187981', 'e38b620b-6024-44e8-9db8-81a3a5b0e7e7', '56bbfca9-4dab-4d43-adf7-a47ea1ae8000', '068753bd-2ccb-4332-b15c-cdd77f83ce65', 'b38e005b-0b9c-4bb4-aaa5-c88e7779d89c', '8957377b-66b3-4661-ae91-5c2b5e29fd0e', 'a1cd5991-0cd2-464d-bb23-2583eda97092', '91c5e534-f55b-45d7-ad70-1d865b91d1ba', '95bd09f5-40ca-4f1f-b572-67492489dab8', 'db8c6768-1ce0-4389-810a-68796ef93f86']
1024140

In [ ]:
del purchase_df

In [ ]:
p_sessions = list(set(p_sessions).intersection(long_sessions))
print(len(p_sessions))
print(p_sessions[:10])

831770
['82451273-8c2e-43c2-add6-a7a12cf67439', 'fdd129d6-dc95-4683-8b2d-b4230f3ee087', 'c2092442-2ac0-471c-8fcf-608178678c42', '2d098c46-6eb5-46eb-af0f-8c84f2c8ca93', '774e6361-831f-4c25-9cb3-3162a1b80910', '7b5dc76a-5d6e-42b8-8d41-1d7597c59389', '96f10df4-e0d3-44b4-a377-95a76407734a', '7c13db9f-a242-405a-8809-e1a9fb9f35a4', 'c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887', '3e6d6b4b-ecfc-4b23-85d1-a6c2ba0efdc8']

In [ ]:
display(cb_df[cb_df['user_session']=='c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887'])

,event_time,event_type,category_code,brand,price,user_id,user_session,bins,product_id
18240458,2019-11-11 11:55:07 UTC,view,electronics.smartphone,apple,746.20,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(740.0, 750.0]",21170
18241917,2019-11-11 11:55:57 UTC,purchase,electronics.smartphone,apple,746.20,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(740.0, 750.0]",21170
18242757,2019-11-11 11:56:28 UTC,view,electronics.smartphone,apple,746.20,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(740.0, 750.0]",21170
18243716,2019-11-11 11:57:04 UTC,view,electronics.smartphone,apple,458.13,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(450.0, 460.0]",21143
18245259,2019-11-11 11:58:01 UTC,purchase,electronics.smartphone,apple,458.13,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(450.0, 460.0]",21143
18245948,2019-11-11 11:58:27 UTC,view,electronics.smartphone,apple,458.13,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(450.0, 460.0]",21143
18246490,2019-11-11 11:58:47 UTC,purchase,electronics.smartphone,apple,458.13,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(450.0, 460.0]",21143
18247133,2019-11-11 11:59:13 UTC,view,electronics.smartphone,apple,458.13,568105973,c8dca9a8-e0b0-4ee2-a7ef-19bb4c9ee887,"(450.0, 460.0]",21143

In [ ]:
graph_df = pd.DataFrame(columns=['product_1', 'product_2', 'relation'])

In [ ]:
v_products = []
for v_list in co_view:
    for x, y in zip(v_list[:-1], v_list[1:]):
        if x == y:
            continue
        else:
            lst = {'product_1' : x, 'product_2' : y, 'relation' : 'co_view'}
            v_products.append(lst)
graph_df = graph_df.append(v_products)
display(graph_df.head())

  product_1 product_2   relation
0      2735      2748  p_after_v
1     21641     21858  p_after_v
2     22329     21403  p_after_v
3      6025      6155  p_after_v
4     22345     22315  p_after_v

In [ ]:
print(graph_df.shape)
graph_df.drop_duplicates(inplace=True)
graph_df.reset_index(drop=True)
print(graph_df.shape)
display(graph_df.head())
print('Coview', graph_df[graph_df['relation'] == 'co_view'].shape)

(27820243, 3)
(3644695, 3)

  product_1 product_2   relation
0      2735      2748  p_after_v
1     21641     21858  p_after_v
2     22329     21403  p_after_v
3      6025      6155  p_after_v
4     22345     22315  p_after_v

Coview (3495638, 3)

In [ ]:
g_df = graph_df.copy()

print(g_df.shape)

In [ ]:
graph_df = pd.read_pickle('cust_events.pkl')
display(graph_df.shape)

print(graph_df.shape)
graph_df.drop_duplicates(inplace=True)
graph_df.reset_index(drop=True)
print(graph_df.shape)
display(graph_df.head())

In [ ]:
cbr_df = cb_df[['event_time','event_type', 'product_id', 'user_id','user_session']]
print(cb_df.shape)
print(cbr_df.shape)

(65180535, 9)
(65180535, 5)

In [ ]:
cbr_df = cbr_df[cbr_df.user_session.isin(p_sessions)]
print(cbr_df.shape)

(5950776, 5)

In [ ]:
display(cbr_df.head())

,event_time,event_type,product_id,user_id,user_session
127,2019-10-01 00:01:45 UTC,view,21159,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
129,2019-10-01 00:01:46 UTC,view,21642,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
152,2019-10-01 00:02:08 UTC,view,21162,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
162,2019-10-01 00:02:14 UTC,purchase,21642,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
200,2019-10-01 00:02:47 UTC,view,21162,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68

In [ ]:
cbrt_df = cbr_df.sort_values(['event_time'], ascending=True).groupby(['user_id','user_session'])

In [ ]:
purchase_after_view = []
for group_name, df_group in tqdm(cbrt_df):
    product = ''
    for row in df_group.itertuples():
        if row.event_type == 'view' and product == '':
            product = row.product_id
        if row.event_type == 'purchase' and row.product_id != product and product != '':
            purchase_after_view.append([product, row.product_id])
            product =''

100%|██████████| 831774/831774 [06:25<00:00, 2155.14it/s]

In [ ]:
print(len(graph_df))
v_products = []
for v_list in purchase_after_view:
    lst = {'product_1' : v_list[0], 'product_2' : v_list[1], 'relation' : 'p_after_v'}
    v_products.append(lst)
graph_df = graph_df.append(v_products, ignore_index=True)
print(len(graph_df))

0
397728

In [ ]:
print(graph_df.shape)
graph_df.drop_duplicates(inplace=True)
graph_df.reset_index(drop=True)
print(graph_df.shape)
display(graph_df.head())

(397728, 3)
(149057, 3)

  product_1 product_2   relation
0      2735      2748  p_after_v
1     21641     21858  p_after_v
2     22329     21403  p_after_v
3      6025      6155  p_after_v
4     22345     22315  p_after_v

In [ ]:
v_products = []
for v_list in co_purchase:
    for i in range(len(v_list[:-1])):
        sub_list = v_list[i+1:]
        for y in sub_list:
            if v_list[i] != y:
                lst = {'product_1' : v_list[i], 'product_2' : y, 'relation' : 'co_purchase'}
                v_products.append(lst)
graph_df = graph_df.append(v_products)

In [ ]:
display(graph_df[graph_df['relation'] == 'co_purchase'])

       product_1 product_2     relation
0          21191     21187  co_purchase
1          21651     21155  co_purchase
2          21611     21604  co_purchase
3          21641     22175  co_purchase
4          23036     21642  co_purchase
...          ...       ...          ...
169320     21645     21641  co_purchase
169321     21642     21404  co_purchase
169322     21645     21593  co_purchase
169323     21710     21175  co_purchase
169324     21663     21657  co_purchase

[169325 rows x 3 columns]

In [ ]:
print(graph_df.dtypes)

product_1    object
product_2    object
relation     object
dtype: object

In [ ]:
graph_df.to_pickle('cust_events.pkl')

In [ ]:
new_df = pd.read_pickle('cust_events.pkl')
print(new_df.dtypes)
display(new_df.head())

product_1    object
product_2    object
relation     object
dtype: object

  product_1 product_2   relation
0      2735      2748  p_after_v
1     21641     21858  p_after_v
2     22329     21403  p_after_v
3      6025      6155  p_after_v
4     22345     22315  p_after_v

In [ ]:
graph_df = new_df.copy()

In [ ]:
print('Coview', graph_df[graph_df['relation'] == 'co_view'].shape)
print('Copurchase', graph_df[graph_df['relation'] == 'co_purchase'].shape)
print('purchase after view', graph_df[graph_df['relation'] == 'p_after_v'].shape)

Coview (3495638, 3)
Copurchase (169325, 3)
purchase after view (149057, 3)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx